
// Define fonts to be used in project 


$primary_font: 'Poppins', sans-serif; // body

$secondary_font: 'Oswald', sans-serif; // Headings, post titles & others	

$third_font: 'Pacifico', cursive; // special fonts used in metas & menu


// others 

$widget_title_height: 35px;